@import "styles/mocha.css";
* {
    border: none;
    border-radius: 0;
    font-family: Iosevka, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: @base;
    color: @mauve;
}

tooltip {
  background: @base;
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: white;
}

#workspaces button {
    padding: 0 5px;
    background: @surface0;
    color: white;
    border-bottom: 3px solid transparent;
}

#workspaces button.focused {
    background: #64727D;
    border-bottom: 3px solid white;
}

.module {
    padding: 0 10px;
    margin: 2px;
    background: @surface0;
    border-radius: 5px;
}
@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}
